//Animations//

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Not all browser support overflow: hidden

@keyframes slide {
  0% {
    opacity: 1;
    width: 1px;
    height: 1px;
    // overflow: hidden;
  }
  50% {
    opacity: 1;
    width: 90%;
    height: 1px;
    // overflow: hidden;
  }
  100% {
    opacity: 1;
    width: 90%;
    height: 220px;
    // overflow: hidden;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes hoverSlide {
  0% {
    left: -140%;
    top: 110%;
  }
  50% {
    left: 0%;
    top: -40%;
  }
  100% {
    left: -20%;
    top: -20%;
  }
}

@keyframes bg-appear {
  0% {
    background: rgb(10, 36, 46);
  }
  100% {
    background: transparent;
  }
}
